inc/champsim_constants.h
inc/cache_modules.inc
inc/ooo_cpu_modules.inc
src/core_inst.cc
.champsimconfig_cache
./Makefile

bin/
obj/

**/*.o
**/*.d

tracer/pin/obj-intel64/

results_200M/
total_traces
trace_list
ipc1_public
iprefetch_traces/

*.log
*.out
.*
debug*

Makefile

__pycache__